body {
    background:  url(https://image.freepik.com/foto-gratis/la-naturaleza-de-verano-dia-cielo-nubes-mullidas_121-88523.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.title {
    text-align: center;
    font-size: 5em;
    font-size: 100px;
    font-family: Times New Roman;
    color: black;
}

.cognits {
    font-family: Times New Roman;
    color: black;
    font-size: 30px;
    margin-left: 120px;   
}

.date {
    font-size: 35px;
    font-family: oblique;
    color: black;
    margin-left: 6%;
    margin-top: 200px;
}

.hide {
    display: none;
}

.new-search {
    float: right;
    margin-right: 20%;
    margin-top: -3%;
}

.button {
    background-color: transparent;
    color: black;
}

.to-left {
    margin-left: 5%;
    margin-top: 1%;
}

.font {
    color: black;
    font-family: small-caps;
    font-size: 20px;
    text-align: center;
}

.black {
    color: black;
    text-align: center;
    font-size: 30px;
}

.clear {
    width: 100%;
    text-align: center;
    clear: both;
    margin-left: 20px;
}

.input {
    height: 45px;
    width: 20%;
    display: block;
    text-align: center;
}

.city {
    color: black;
    font-size: 50px;
    margin-top: 1%;
    text-align: center;
}

.states {
    float: left;
    border-radius: 10px;
    text-align: center;
    width: 33%;
    font-family: small-caps;
}